<div class="outermost flex flex-row bg-black w-full h-16 items-center justify-between px-8 text-white">
    <div class="lft flex items-center">
        <div class="w-fit cursor-pointer"><img class="w-[80%]" src="assets/netflix wordmark.png" alt="netflix"></div>
        <div class="navigs flex gap-4">
            <div class="tab text-md cursor-pointer">Home</div>
            <div class="tab text-md cursor-pointer">TV Shows</div>
            <div class="tab text-md cursor-pointer">Movies</div>
            <div class="tab text-md cursor-pointer">Games</div>
            <div class="tab text-md cursor-pointer">New & Popular</div>
            <div class="tab text-md cursor-pointer">My List</div>
            <div class="tab text-md cursor-pointer">Browse by Languages</div>
        </div>
    </div>
    <div class="rt flex items-center gap-5">
        <div class="search"><i class="cursor-pointer  text-2xl fas fa-search"></i></div>
        <div class="bell"><i class="cursor-pointer  text-2xl fas fa-bell"></i></div>
        <div class="img w-fit flex items-center gap-2">
            <img class="cursor-pointer w-[35%]" src="assets/red profile.png" alt="">
            <i class="cursor-pointer fa-solid fa-caret-down text-white"></i>
        </div>
    </div>
</div>