<div class="header flex absolute z-50 bg-transparent w-full h-16 items-center justify-between pr-20 pl-20 pt-4 text-white">
    <div class="w-fit cursor-pointer"><img class="w-[10 0%]" src="assets/netflix wordmark.png" alt="netflix"></div>
    <div class="bg-red-700 text-white px-3 py-1 text-center rounded-lg cursor-pointer" routerLink="/login">Sign In</div>
</div>
<div class="outermost bg-cover flex items-center justify-center h-screen"  style="background-image: url('assets/LandingPageBg.png')">
    <div class="main text-white bg-transparent p-8">
        <div class="qwe text-6xl font-extrabold text-center pb-6">Unlimited movies,<br> TV shows, and more</div>
        <div class="qwe text-xl font-semibold text-center pb-8">Starts at Rs 250. Cancel anytime.</div>
        <div class="qwe text-center pb-4">Ready to watch? Enter your email to create or restart your membership.</div>
        <div class="form-div">
            <form class="form-div flex flex-row justify-between">
                <div class="form-group w-[67%] rounded-md">
                    <input class="p-4 w-full bg-black opacity-60 border border-gray-100 rounded-md" type="email" id="email" name="email" placeholder="Email Address" required>
                </div>
                <div routerLink="/profiles" class="form-group p-3 bg-red-700 text-white w-[30%] text-2xl font-semibold rounded-md text-center">
                    <button type="submit" class="text-center">Login <i class="fa fa-chevron-right pl-2" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>