<div class="outermost w-full h-screen bg-black pt-48 flex flex-col items-center">
    <div class="text-xl text-gray-300 text-center">Profile lock is currently on</div>
    <div class="text-4xl font-semibold text-white text-center">Enter your PIN to access this profile.</div>
    <div class="flex justify-center mt-6 gap-4">
        <input type="password" maxlength="1" class="w-12 h-12 text-center text-xl bg-gray-900 border border-gray-600 text-white rounded">
        <input type="password" maxlength="1" class="w-12 h-12 text-center text-xl bg-gray-900 border border-gray-600 text-white rounded">
        <input type="password" maxlength="1" class="w-12 h-12 text-center text-xl bg-gray-900 border border-gray-600 text-white rounded">
        <input type="password" maxlength="1" class="w-12 h-12 text-center text-xl bg-gray-900 border border-gray-600 text-white rounded">
    </div>
    <div class="text-red-500 text-center mt-8">Your PIN must be 4 numbers.</div>
    <div routerLink="/browse" class="dummy text-white font-semibold cursor-pointer">Dummy button for route</div>
    <div class="text-center mt-40">
        <div  class="text-white hover:underline">Forgot PIN?</div>
    </div>
</div>